/* CSS Properties and Values API */
#houdini-Prop-Api {
  --someColor: orange;
  background: linear-gradient(90deg, red 0%, var(--someColor) 100%);
  transition: --someColor 800ms ease-in-out;
}

#houdini-Prop-Api:hover {
  --someColor: blue;
}

/* * CSS Properties and Values API */
#houdini-Object-Model-API {
  background-color: red;
}

/* Paint Worklet */
#houdini-paint-worklet {
  width: 20rem;
  height: 9rem;
  --some-color: red;
  --some-length: 120px;
  --some-width: 16px;
  background: paint(demoPaintWorklet);
  transition: --some-length 400ms ease-in-out, --some-width 400ms ease-in-out;
}

#houdini-paint-worklet:hover {
  --some-length: 220px;
  --some-width: 24px;
}

/* Layout API */
#houdini-layout-worklet {
  --padding: 20;
  --columns: 2;
  display: layout(masonry);
  width: 50rem;
}
.houdini-layout-worklet-element {
  outline: 1px solid red;
}
.houdini-layout-worklet-element:nth-child(2),
.houdini-layout-worklet-element:nth-child(6),
.houdini-layout-worklet-element:nth-child(3) {
  height: 3rem;
}

.houdini-layout-worklet-element:nth-child(4),
.houdini-layout-worklet-element:nth-child(5) {
  height: 1rem;
}

/* Animation API */

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.15);
  }
}
#houdini-animation-css {
  animation: bounce 800ms ease-in-out infinite;
  background-color: red;
  height: 10rem;
  width: 10rem;
}
#houdini-animation-js {
  background-color: rgb(161, 86, 86);
  height: 10rem;
  width: 10rem;
}
#houdini-animation-API {
  background-color: rgb(104, 75, 75);
  height: 10rem;
  width: 10rem;
}
